/* Variables */
:root {
  --ver-dark: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240deg 5.74% 48.54%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
/* Import Google Fonts */
/* Kumbh Sans */
@font-face {
  font-family: "Kumbh Sans";
  src: url("../Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet),
    var(--soft-blue)
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 13px;
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}
/* ID's */
#main-container {
  width: 56rem;
  height: 31rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
  border-radius: 1.5rem;
  position: relative;
}
#main-container > #image {
  width: 28rem;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
#main-container > #image > img {
  margin-left: -9rem;
}
#main-container > #image > #shadow {
  position: absolute;
  left: -26.8rem;
  top: -18.6rem;
  z-index: -1;
}
#main-container > #box-image {
  position: absolute;
  left: -6.5rem;
  bottom: 7.2rem;
  z-index: 2;
}
#main-container > #questions {
  width: 28rem;
  height: 100%;
  padding: 2.5rem 4.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#main-container > #questions > h1 {
  width: 100%;
  font-size: 2rem;
  text-align: left;
}
#attribution {
  position: fixed;
  bottom: 1rem;
}
#attribution > a {
  display: inline-block;
  color: var(--light-grayish-blue);
  text-decoration: none;
  margin: 0 0.2rem;
  font-size: 14px;
  transition: all 0.2s;
}
#attribution > a:hover {
  transform: translateY(-3px);
  color: var(--soft-red);
}
/* Global Classes */
.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  width: 100%;
  padding: 1.2rem 0 0.8rem 0;
  cursor: pointer;
  transition: all 0.2s;
}
.question:hover {
  color: var(--soft-red);
}
.bold {
  /* style for making the question bold when it is Opend */
  font-weight: 700;
}
.arrow {
  color: var(--soft-red);
  cursor: pointer;
  transition: all 0.2s;
}
.arrow-down {
  transform: rotate(180deg);
}
.answer {
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--light-grayish-blue);
  overflow: hidden;
  color: var(--dark-grayish-blue);
  line-height: 1.2rem;
  transition: 0.3s all;
}
.open {
  /* style for the answer when it is opened */
  height: auto;
  padding: 0 0 0.8rem 0;
}

/* Media Queries */
@media (max-width: 1200px) and (min-width: 900px) {
  #main-container {
    transform: scale(0.84);
  }
}
@media (max-width: 900px) {
  body {
    padding-top: 3rem;
  }
  #main-container {
    transform: scale(1);
    width: 90%;
    height: 35rem;
  }
  #main-container::before {
    position: absolute;
    content: "";
    background-image: url("../images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    height: 15rem;
    width: 15rem;
    top: -110px;
    right: 50%;
    transform: translateX(50%);
  }
  #main-container::after {
    position: absolute;
    content: "";
    background-image: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    height: 10rem;
    width: 15rem;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
  #main-container > #image {
    display: none;
  }
  #main-container > #box-image {
    display: none;
  }
  #main-container > #questions {
    width: 100%;
    padding: 8rem 2rem 0 2rem;
  }
  #main-container > #questions > h1 {
    text-align: center;
  }
  .arrow {
    font-size: 10px;
  }
  #attribution {
    transform: scale(0.85);
  }
}
@media (max-height: 750px) {
  #main-container {
    transform: scale(0.9);
  }
}
@media (max-width: 300px) {
  #main-container {
    width: 100%;
    min-width: 350px;
    transform: scale(0.7);
  }
  #attribution {
    font-size: 10px;
  }
}
